# POSTGES CONFIG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=@Melons16122005
POSTGRES_DB=ecommerce_fraud_dw
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# POSTGES READ-ONLY USER FOR AI ASSISTANT
POSTGRES_RO_USER=ai_assistant_ro
POSTGRES_RO_PASSWORD=ai_assistant_ro_pass

# AIRFLOW CONFIG
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_WWW_USER_CREATE=true

# FASTAPI CONFIG 
API_HOST=0.0.0.0
API_PORT=8000

# LLM / AI ASSISTANT CONFIG
LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3
OPEN_API_KEY=

# METABASE CONFIG
METABASE_PORT=3000

# SYSTEM PATHS
DATA_DIR=./data/raw
MODEL_DIR=./ml/saved_models



