# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env
.env.local

# Data files (Do not commit large datasets)
data/raw/*.csv
data/staging/
*.sqlite3

# ML Artifacts
ml/saved_models/*.pkl
ml/saved_models/*.joblib

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Airflow
airflow/logs/
airflow/airflow-worker.pid
